/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.theme-menu__button:disabled::before {
  content: "▶";
  font-size: 13px;
  position: absolute;
  left: -22px;
  animation-name: movement;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.like-icon .core {
  transition-delay: 0.03s;
}

.like-icon:hover .core {
  fill: var(--countor-color, #000);
  transition: fill 0.3s 0s linear;
}

.like-icon .main-body {
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--countor-color, #000);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--main-body-color, #F00);
  transition: fill 0.3s 0s linear;
}

.like-icon:active .main-body {
  fill: var(--main-body-color, #F00);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--main-body-color, #F00);
  transition: fill 0.3s 0s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--main-body-color, #F00);
  transition: fill 0.3s 0.05s linear;
}

.like-icon .contour {
  transition-duration: 0.1s;
  transition-delay: 0s;
}

.like-icon.is-liked .contour {
  fill: var(--main-body-color, #F00);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation-name: heart;
  animation-duration: 0.3s;
  animation-delay: 0.1s;
  animation-timing-function: ease-in;
  animation-direction: alternate;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation-name: sparks;
  animation-duration: 0.3s;
  animation-delay: 0.3s;
  animation-timing-function: ease-in;
  animation-direction: alternate;
  transform-origin: center;
}

@keyframes movement {

  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(4px);
  }
}

@keyframes heart {

  0% {
    scale: 1;
  }

  100% {
    scale: 1.5;
  }
}

@keyframes sparks {

  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}