/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --main-font-weight: 400;
  --title-font-weight: 700;
  --background-color: #FFF;
  --main-color: #000;
  --backgraund-gradient: 
    repeating-linear-gradient(-90deg, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(#d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(#E7E7E7 0 0.01%, #1A1A1A);
  --text-stroke-color: #FFF;
  --countor-color: #000;
  --text-animation-color: #FFF;
}

:root.theme-dark {
  --main-font-weight: 465;
  --title-font-weight: 785;
  --background-color: #000;
  --main-color: #00CC14;
  --backgraund-gradient: 
    repeating-linear-gradient(-90deg, #000, #000 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(#000, #000 2px, transparent 2px, transparent 4px),
    linear-gradient(#007F0C, #004306);
  --text-stroke-color: #000;
  --countor-color: #00CC14;
  --text-animation-color: #00CC14;
}

@media (prefers-color-scheme: dark) {
  
  :root {
    --main-font-weight: 465;
    --title-font-weight: 785;
    --background-color: #000;
    --main-color: #00CC14;
    --backgraund-gradient: 
      repeating-linear-gradient(-90deg, #000, #000 2px, transparent 2px, transparent 4px),
      repeating-linear-gradient(#000, #000 2px, transparent 2px, transparent 4px),
      linear-gradient(#007F0C, #004306);
    --text-stroke-color: #000;
    --countor-color: #00CC14;
    --text-animation-color: #00CC14;
  }
} 